*,
*::after,
*::before {
  all: none;
}

.navBarContainer {
  display: flex;
  border: 2px solid black;
}

.navBarContainer p {
  margin: 1vw;
}

.homepageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 2px solid black;
}

.itemContainer {
  display: grid;
  border: 2px solid black;
}

.itemInnerContainer {
  margin: 1vw;
  display: grid;
  border: 2px solid red;
}

#copyright {
  display: flex;
  justify-content: center;
}

#copyright a {
  color: black;
  text-decoration: none;
}

#copyright a::after {
  color: black;
  text-decoration: none;
}
