*,
*::after,
*::before {
  all: none;
}

.navBarContainer {
  display: flex;
  border: 2px solid black;
}

.navBarContainer p {
  margin: 1vw;
}

.homepageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  height: 100vh;
  background-image: radial-gradient(black, blue, green);
  border: 2px solid black;
}
