*,
*::after,
*::before {
  all: none;
}

body {
  background-color: black;
  color: white;
}

.navBarContainer {
  display: flex;
  border: 2px outset gray;
}

.navBarContainer p {
  margin: 1vw;
}

.homepageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 2px solid black;
}

.itemContainer {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  border: 2px solid black;
}

.itemInnerContainer {
  margin: 1vw;
  padding: 0.5vw;
  font-size: 1.5vw;
  border: 4px outset gray;
}

.itemInnerContainer:hover {
  border: 4px outset rgb(240, 178, 22);
}

.itemIMG {
  display: flex;
  justify-content: center;
  align-content: center;
}

.itemDescription {
  display: flex;
  justify-content: center;
  align-content: center;
}

.priceContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}

.quantityContainer {
  display: flex;
  justify-content: center;
}

.lowerCount,
.addCount,
.count {
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  padding: 0.5vw;
  border: 2px solid white;
}

.lowerCount,
.addCount {
  width: 1vw;
}

.lowerCount:active,
.addCount:active {
  transform: scale(1.05);
}

.count {
  display: flex;
  justify-content: center;
  padding-left: 1vw;
  padding-right: 1vw;
  width: 2vw;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0.5vw;
}

.addToCartButton {
  border: 2px outset gray;
  border-radius: 0.5vw;
  width: 10vw;
  height: 3vw;
  font-size: 1.5vw;
}

.addToCartButton:active {
  transform: scale(1.05);
}

#copyright {
  display: flex;
  justify-content: center;
}

#copyright a {
  color: white;
  text-decoration: none;
}

#copyright a::after {
  color: white;
  text-decoration: none;
}
